* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Calibri;
    font-weight: 500;
}

body {
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #313638;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: #648767;
    border: #919b92 solid 5px;
    border-radius: 4px;
    padding: 4px 2px;
}

.calculator .display {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 2px;
    background-color: #566458;
    color: rgb(50, 49, 49);
    margin: 3px;
    border: rgb(73, 85, 63) solid 3px;
    border-radius: 2px;
    height: 10vh;
    font-size: 9vh;
}

.key-container {
    display: flex;
    flex-direction: column;
    padding: 0px 2px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 0px;
}

.row-one {
    gap: 2px;
}

.row-one button{
    flex-basis: 100%;
}

.row-two {
    gap: 5px;
}

.row-two .right-column {
    display: flex;
    flex-direction: column;
}

.sub-row {
    display: flex;
}

.right-column .sub-row-two {
    flex-basis: 100%;
}

.right-column .sub-row-two .sub-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-row .operator-key {
    flex-basis: 100%;
}

.sub-row-three button[value="0"] {
    flex-basis: 100%;
}

button {
    border: 0px;
    border-radius: 2px;
    margin: 1.5px;
    width: 5vw;
    height: 5vw;
    font-size: 2vw;
    font-weight: bold;
}

.row-one button {
    background-color: rgb(160, 163, 157);
}

.row-two .left-column button {
    background-color: rgb(120, 95, 95);
}

.row-two .right-column button {
    background-color: rgb(120, 76, 76);
}